/* @import url("./assets/css/font.css") */

.App {
  /* */
  font-family: "IBM Plex Sans", "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER  */
header {
  height: 60px;
  margin: 10px;
  align-items: center;

  border-bottom: 1px solid lightgray;
}
header img {
  height: 40px;
}

/* MAIN  */
.restaurant {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.restaurant h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 35px;
}
.restaurant p {
  font-size: 19px;
  color: #9c9f9f;
  line-height: 30px;
  width: 90%;
}
.restaurant .right {
  width: 350px;
}
.restaurant img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.background-gray {
  background-color: #f3f5f5;
}

/* CONTENT STRUCTURE */
.content {
  display: flex;
  justify-content: space-between;
}
.list {
  width: calc(100% - 350px);
  padding: 0;
}
.panier {
  width: 350px;
  margin-top: 25px;
}

/* CATEGORIES */
.category-container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.category-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* MEALS */
.meals {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.meal {
  box-sizing: border-box;
  width: calc((100% - 15px) / 2);
  height: 180px;
  flex-shrink: 0;
  display: flex;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white;
}
.meal:hover {
  cursor: grab;
  box-shadow: 5px 5px 5px lightgrey;
}
.meal .right {
  width: 130px;
  height: 130px;
}
.meal .left {
  width: calc(100%);
}
.meal img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}
.meal h4 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}
.meal h5 {
  font-size: 14px;
  line-height: 20px;
  max-height: 40px;
  overflow-y: hidden;
  margin-bottom: 10px;
  margin-right: 5px;
  color: #9c9f9f;
}
.meal p {
  font-size: 17px;
}
.meal p span {
  font-size: 15px;
  color: #fc8002;
  padding-left: 15px;
  font-weight: bold;
}

/* RESPONSIVE */

@media (max-width: 1125px) {
  .meal {
    width: 100%;
  }
}

@media (max-width: 885px) {
  .restaurant {
    flex-direction: column-reverse;
    padding: 0;
  }
  .restaurant h1 {
    font-size: 24px;
  }
  .restaurant p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .restaurant .right {
    width: 100%;
  }
  .restaurant .left {
    padding: 0 20px;
  }
  .restaurant img {
    width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .category-container {
    width: 100%;
  }
}
